* {
    margin: 0;
}

html {
    background-color: #758bfd;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    border-radius: 15px;
    border: 5px solid #aeb8fe;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.pictureArea {
    position: relative;
    height: 175px;
    width: 250px;
    background-color: #ff8600;
    border-radius: 11px 11px 0 0;
    display: flex;
    justify-content: center;
    border-bottom: #aeb8fe 4px solid;
}

.picture img {
    height: 175px;
    width: 200px;
}

.vikingPic img {
    height: 50px;
}

.mainWord p {
    color: #f1f2f6;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 10px;
}

.textArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    width: 250px;
    background-color: #27187e;
    border-radius: 0 0 11px 11px;
}

